In [ ]:
# Question 4

In [5]:
def func():
    l1 = list()
    l2 = list()
    
    for i in range(0, 5):
        l1.append(i)
        l2.append(i+3)
        
    print(l1)
    print(l2)

In [8]:
func()

[0, 1, 2, 3, 4]
[3, 4, 5, 6, 7]

In [38]:
def func1():
    l1 = list()
    l2 = list()
    
    for i in range(0, 5):
        l1.append(i)
        l2.append(i+3)
        l1, l2 = l2, l1
        
    print(l1)
    print(l2)

In [39]:
func1()

[3, 1, 5, 3, 7]
[0, 4, 2, 6, 4]

In [ ]:
# Question 5

In [9]:
c = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = 0

for i in range(0, 10):
    if c[i] % 2 == 0:
        result += c[i]
        
print(result)

30

In [10]:
c = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = 0

for i in range(0, 10):
    if c[i] % 2 != 0:
        result += c[i]
        
print(result)

25

In [11]:
subject = 'computer'
subject = list(subject)
ch = subject[0]

for i in range(0, len(subject)-1):
    subject[i] = subject[i+1]
subject[len(subject)-1] = ch

print(''.join(subject))

omputerc

In [12]:
quantity = [15, 30, 12, 34, 56, 99]
total = 0
for i in range(0, len(quantity)):
    if quantity[i] > 15:
        total += quantity[i]
        
print(total)

219

In [13]:
x = [1, 2, 4, 6, 9, 10, 14, 15, 17]

for i in range(0, len(x)):
    if x[i] % 2 == 0:
        x[i] = 4 * i
        
    elif x[i] % 3 == 0:
        x[i] = 9 * i
        
    else:
        x[i] *= 2
        
print(x)

[2, 4, 8, 12, 36, 20, 24, 63, 34]

In [ ]:
# Question 8

In [40]:
address = 'B-6, Lodhi road, Delhi'
list1 = [1, 2, 3]
list2 = ['a', 1, 'z', 26, 'd', 4]
tuple1 = ('a', 'e', 'i', 'o', 'u')
tuple2 = ([2, 4, 8, 6], [3, 6, 9], [4, 8], 5)
dict1 = {'apple': 'red', 'mango': 'yellow', 'orange': 'orange'}
dict2 = {'X': ['eng', 'hindi', 'maths', 'science'], 'XII': ['english', 'physics', 'chemistry', 'maths']}

In [41]:
list1[3] = 4

IndexError: list assignment index out of range

In [5]:
print(list1 * 2)

[1, 2, 3, 1, 2, 3]

In [6]:
print(min(list2))

TypeError: '<' not supported between instances of 'int' and 'str'

In [7]:
print(max(list1))

3

In [8]:
print(list(address))

['B', '-', '6', ',', ' ', 'L', 'o', 'd', 'h', 'i', ' ', 'r', 'o', 'a', 'd', ',', ' ', 'D', 'e', 'l', 'h', 'i']

In [9]:
list2.extend(['e', 5])
print(list2)

['a', 1, 'z', 26, 'd', 4, 'e', 5]

In [10]:
list2.append(['e', 5])
print(list2)

['a', 1, 'z', 26, 'd', 4, 'e', 5, ['e', 5]]

In [11]:
names = ['rohan', 'mohan', 'gita']
names.sort(key = len)
print(names)

['gita', 'rohan', 'mohan']

In [12]:
list3 = [x * 2 for x in range(1, 11)]
print(list3)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [13]:
del list3[1:]
print(list3)

[2]

In [42]:
list4 = [x + y for x in range(1, 5) for y in range(1, 5)]
print(list4)

[2, 3, 4, 5, 3, 4, 5, 6, 4, 5, 6, 7, 5, 6, 7, 8]

In [14]:
tuple2[3] = 6

TypeError: 'tuple' object does not support item assignment

In [15]:
tuple2.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
t1 = tuple2 + (5)

TypeError: can only concatenate tuple (not "int") to tuple

In [17]:
','.join(tuple1)

'a,e,i,o,u'

In [18]:
list(zip(['apple', 'orange'], ('red', 'orange')))

[('apple', 'red'), ('orange', 'orange')]

In [19]:
dict2['XII']

['english', 'physics', 'chemistry', 'maths']

In [20]:
dict2['XII'].append('computer science'), dict2

(None,
 {'X': ['eng', 'hindi', 'maths', 'science'],
  'XII': ['english', 'physics', 'chemistry', 'maths', 'computer science']})

In [21]:
'red' in dict1

False

In [22]:
list(dict1.items())

[('apple', 'red'), ('mango', 'yellow'), ('orange', 'orange')]

In [23]:
list(dict2.keys())

['X', 'XII']

In [24]:
dict2.get('XI', 'None')

'None'

In [25]:
dict1.update({'kiwi': 'green'})
print(dict1)

{'apple': 'red', 'mango': 'yellow', 'orange': 'orange', 'kiwi': 'green'}

In [ ]:
# Question 9

In [27]:
vehicles = {'Bicycle', 'Scooter', 'Car', 'Bike', 'Truck', 'Bus', 'Rickshaw'}
heavyVehicles = {'Truck', 'Bus'}
lightVehicles = {'Rickshaw', 'Scooter', 'Bike', 'Bicycle'}

In [29]:
lytVehicles = vehicles - heavyVehicles
print(lytVehicles)

{'Bike', 'Rickshaw', 'Scooter', 'Bicycle', 'Car'}

In [30]:
hvyVehicles = vehicles - lightVehicles
print(hvyVehicles)

{'Bus', 'Truck', 'Car'}

In [31]:
averageWeightVehicles = lytVehicles & hvyVehicles
print(averageWeightVehicles)

{'Car'}

In [32]:
transport = lightVehicles | heavyVehicles
print(transport)

{'Bike', 'Bicycle', 'Truck', 'Rickshaw', 'Bus', 'Scooter'}

In [33]:
transport.add('Car')
print(transport)

{'Bike', 'Bicycle', 'Truck', 'Car', 'Rickshaw', 'Bus', 'Scooter'}

In [34]:
for i in vehicles:
    print(i)

Bike
Truck
Bicycle
Car
Rickshaw
Bus
Scooter

In [35]:
len(vehicles)

7

In [36]:
min(vehicles)

'Bicycle'

In [37]:
set.union(vehicles, lightVehicles, heavyVehicles)

{'Bicycle', 'Bike', 'Bus', 'Car', 'Rickshaw', 'Scooter', 'Truck'}